body{
    background-color:rgb(192, 222, 135) ;
}
#btn{
    background-color: orange;
    width: 10%;
    height: 50px;
    margin-top: 20%;
    margin-left: 15%;   
}
#btn1{
    background-color: orange;
    width: 10%;
    height: 50px;
    margin-top: 20%;
    margin-left: 15%;   
}
#btn2{
    background-color: orange;
    width: 10%;
    height: 50px;
    margin-top: 20%;
    margin-left: 15%;   
}

#icon{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
 
    
}